/* CSS declarations go here */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.onoffswitch-inner:before {
    text-align: left;
}
#validation-errors{
    display: none;
}
/* remove button */
.socialDocContent::after,
.creationContent::after,
.hobbiesContent::after,
.sportContent::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 40px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.socialDocContent::after,
.creationContent::after,
.hobbiesContent::after,
.sportContent::after {
    content: "\f068";
    font: normal normal normal 14px/20px FontAwesome;
    border-radius: 3px;
    border: 1px solid;
}

.sportContent::after,
.hobbiesContent::after,
.creationContent::after {
    top: 25px;
}

.socialDocContent:nth-child(1)::after {
    top: 0;
}

.socialDocContent,
.sportContent,
.creationContent,
.hobbiesContent {
    position: relative;
}
/* Mark Required fields */
.form-group.required .control-label:after,
.control-label.required:after {
    content:" *";
    color:red;
}
/* Material Design for Datepicker*/
.datepicker.datepicker-dropdown {
    font-size: 14px;
    border-radius: 0;
}

.datepicker table {
    margin-top: 0;
    margin-bottom: .5em;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 35px;
}

.datepicker th.dow {
    width: 14.285714286%;
    padding: .25em;
    color: #999;
    font-weight: 500;
    padding-bottom: .5em;
    font-size: .9rem;
}

.datepicker td.day {
    color: #595959;
    letter-spacing: -.3;
    padding: .75rem 0;
    font-weight: 400;
    border: 1px solid transparent;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
    background-color: #1ab394;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background-color: transparent;
    font-weight: 600;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover:hover{
    background: transparent;
    border: transparent;
    color: #1ab394;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover {
    border-radius: 50%;
    background-color: #1ab394;
    color: #fff;
    border-color: transparent;
    text-shadow: none;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.datepicker.dropdown-menu th {
    border-radius: 0;
    padding: .7rem 0 1rem;
}

.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background: rgba(83, 192, 157, .6);
    border-bottom-color: rgba(83, 192, 157, .6);
}
/*******************************************************************/
<<<<<<< HEAD

/* Custom css for avatar */
.card .card-circle,
.card-overlay,
.flex-center,
.section.team-section .avatar,
.testimonial-carousel .testimonial .avatar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.owner-photo-wrapper {
    margin: 0 auto;
    width: 130px;
}

.owner-photo-wrapper img {
    width: 130px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/**********************************************************************/
=======
>>>>>>> 06ebaafebcfad1825792fc29a7a4d799e5633c67
