<template name="abiturients">

    <!-- Page heading -->
    {{> pageHeading title='Список абитуриентов' category='' }}

    <div class="wrapper wrapper-content">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Список абитуриентов</h5>
                <div class="ibox-tools">
                    {{#if currentUser.rules.abiturients.add}}
                    <a href="/student" class="btn btn-primary btn-xs" id="add">Добавить</a>
                    {{/if}}
                </div>
            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" placeholder="Поиск" class="input-sm form-control" id="userName">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-sm btn-primary" id="search"> Поиск</button>
                              <a href="#filterCollapse" data-toggle="collapse" aria-expanded="false" type="button" class="btn btn-sm btn-primary" id="filter"> Фильтр <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="filterCollapse" aria-expanded="false" class="panel-collapse collapse col-md-12 m-t">
                      <div class="row">
                        <div class="col-md-4">
                          <select class="form-control" id="filterCriteria">
                            <option></option>
                            <option value="parent.username">ФИО родителя</option>
                            <option value="parent.passport.code">Серия паспорта родителя</option>
                            <option value="parent.passport.number">Номер паспорта родителя</option>
                          </select>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="input-sm form-control" id="filterText">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="project-list table-responsive">
                    <table data-page-size="5" class="table table-hover footable">
                      <thead>
                        <tr>
                          <th data-sortable="false">#</th>
                          <th>ФИО</th>
                          <th colspan="2">Телефон</th>
                          <th colspan="2">Мобильный</th>
                          <th colspan="2">E-mail</th>
                          <th data-sortable="false">Управление</th>
                        </tr>
                      </thead>
                      <tbody>
                      {{#each students}}
                          <tr>
                              <td class="project-title">
                                  <a href="/student/{{_id}}">{{indicator}}</a>
                              </td>
                              <td class="project-title">
                                  <strong>{{lastname}} {{firstname}} {{middlename}}</strong>
                              </td>
                              <td class="contact-type"><i class="fa fa-phone visible-lg-inline"> </i></td>
                              <td><span class="visible-lg-inline">{{phone}}</span></td>
                              <td class="contact-type"><i class="fa fa-mobile visible-lg-inline"> </i></td>
                              <td><span class="visible-lg-inline">{{mobile}}</span></td>
                              <td class="contact-type"><i class="fa fa-envelope visible-lg-inline"> </i></td>
                              <td><span class="visible-lg-inline">{{email}}</span></td>
                              <td class="project-actions">
                                  {{#if currentUser.rules.abiturients.edit}}
                                  <a href="#" class="btn btn-white btn-sm edit" data-user-id="{{_id}}"><i class="fa fa-pencil"></i> </a>
                                  {{/if}}
                                  {{#if isInRole 'admin'}}
                                  <a href="#" class="btn btn-white btn-sm delete" data-user-id="{{_id}}"><i class="fa fa-trash"></i> </a>
                                    {{else}}
                                    {{#if currentUser.rules.abiturients.delete}}
                                      <a href="#" class="btn btn-white btn-sm delete" data-user-id="{{_id}}"><i class="fa fa-trash"></i> </a>
                                    {{/if}}
                                  {{/if}}
                              </td>
                          </tr>
                      {{/each}}
                      </tbody>
                      <tfoot>
                      <tr>
                        <td colspan="9">
                          <ul class="pagination pull-right"></ul>
                        </td>
                      </tr>
                      </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>