<template name="student">

    <!-- Page heading -->
    {{> pageHeading title='Создание/Редактирование студента (абитуриента)' category='' }}

    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                <div class="m-b-md">
                                    <h2>Карточка студента/абитуриента</h2>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Индивидуальный номер:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="ind" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2>Общие сведения</h2>
                            </div>
                            <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Фамилия:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="firstname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Имя:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="lastname" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Отчество:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="middlename" class="form-control">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Дата рождения:</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" id="birthday" class="form-control">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Пол:</label>
                                    <div class="col-sm-9">
                                        <div class="i-checks radio-inline"><label> <input type="radio" value="male" name="sex"> <i></i> Мужской </label></div>
                                        <div class="i-checks radio-inline"><label> <input type="radio" value="female" name="sex"> <i></i> Женский </label></div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Домашний телефон:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="phone" class="form-control" data-mask="(999) 999-9999">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Сотовый телефон:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="mobile" class="form-control" data-mask="+7 9999999999">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Электронная почта:</label>
                                    <div class="col-sm-9">
                                        <input type="email" id="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Образование</a></li>
                                                <li class=""><a href="#tab-2" data-toggle="tab">Паспортные данные</a></li>
                                                <li class=""><a href="#tab-3" data-toggle="tab">Прочие документы</a></li>
                                                <li class=""><a href="#tab-4" data-toggle="tab">Информация о родителях</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="row">
                                                    <h3 class="m-b col-lg-12">Образовательная организация</h3>
                                                    <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Полное наименование:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="schoolName" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Номер:</label>
                                                            <div class="col-sm-2">
                                                                <input type="number" id="schoolNumber" class="form-control">
                                                            </div>
                                                            <label class="col-sm-1 control-label">Город:</label><div class="col-sm-6">
                                                            <input type="text" id="schoolCity" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed col-lg-12"></div>
                                                    <h3 class="m-b col-lg-12">Документ об образовании</h3>
                                                    <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Тип документа:</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="diploma" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Серия:</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" id="diplomaCode" class="form-control">
                                                            </div>
                                                            <label class="col-sm-1 control-label">Номер:</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" id="diplomaNumber" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Год окончания:</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" data-mask="9999" id="schoolYearEnd" class="form-control">
                                                            </div>
                                                            <label class="col-sm-1 control-label">Дата выдачи:</label>
                                                            <div class="col-sm-4">
                                                                <div class="input-group">
                                                                    <input type="text" data-mask="99.99.9999" id="diplomaDate" class="form-control">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed col-lg-12"></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Кол-во "3":</label>
                                                            <div class="col-sm-3">
                                                                <input type="number" id="diplomaCounts3" class="form-control">
                                                            </div>
                                                            <label class="col-sm-3 control-label">Кол-во "4":</label>
                                                            <div class="col-sm-3">
                                                                <input type="number" id="diplomaCounts4" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Кол-во "5":</label>
                                                            <div class="col-sm-3">
                                                                <input type="number" id="diplomaCounts5" class="form-control">
                                                            </div>
                                                            <label class="col-sm-3 control-label">Средний балл:</label>
                                                            <div class="col-sm-3">
                                                                <input type="text" id="diplomaAvr" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed col-lg-12"></div>
                                                    <h3 class="m-b col-lg-12">Дополнительные данные</h3>
                                                    <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Иностранный язык (какой):</label>
                                                            <div class="col-sm-3">
                                                                <input type="text" id="otherLangName" class="form-control">
                                                            </div>
                                                            <label class="col-sm-4 control-label">Иностранный язык (оценка):</label>
                                                            <div class="col-sm-2">
                                                                <input type="text" id="otherLangPoints" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">Физическая культура (оценка):</label>
                                                            <div class="col-sm-2">
                                                                <input type="text" id="physicalPoints" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <h3 class="m-b col-lg-12">Паспортные данные</h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Серия:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" data-mask="9999" id="passportCode" class="form-control">
                                                        </div>
                                                        <label class="col-sm-2 control-label">Номер:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" id="passportNumber" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Кем выдан:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="passportDepartment" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Когда выдан:</label>
                                                        <div class="col-sm-3">
                                                            <div class="input-group">
                                                                <input type="text" data-mask="99.99.9999" id="passportDate" class="form-control">
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <label class="col-sm-3 control-label">Код подразделения:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" id="passportDepartmentCode" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Место рождения:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="placeOfBirth" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed col-lg-12"></div>
                                                <h3 class="m-b col-lg-12">Адрес регистрации</h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Зарегистрирован:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="addressRegistration" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Регион:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="addressRegistrationRegion" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Населенный пункт:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" id="addressRegistrationCity" class="form-control">
                                                        </div>
                                                        <label class="col-sm-1 control-label">Район:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" id="addressRegistrationArea" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Улица, дом, квартира:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="addressRegistrationSHF" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="m-b col-lg-12">
                                                    Фактический адрес
                                                    <small class="pull-right">
                                                        <div class="i-checks checkbox-inline">
                                                            <label>
                                                                <input type="checkbox" name="">
                                                                <i></i> Совпадает с адресом регистрации
                                                            </label>
                                                        </div>
                                                    </small>
                                                </h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Регион:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="addressFactRegion" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Населенный пункт:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" id="addressFactCity" class="form-control">
                                                        </div>
                                                        <label class="col-sm-1 control-label">Район:</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" id="addressFactArea" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Улица, дом, квартира:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="addressFactSHF" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-3">
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Медицинский полис:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="medicalPolicy" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">ИНН:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="TIN" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">СНИЛС:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="SNILS" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed col-lg-12"></div>
                                                <h3 class="m-b col-lg-12">Военный билет или приписное свидетельство</h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Номер:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="armyNumber" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Кем выдан (о):</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="armyDepartment" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Когда выдан (о):</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="armyDate" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Категория годности:</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" id="armyCategory" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-4">
                                                <h3 class="m-b col-lg-12">Родитель 1</h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Степень родства:</label>
                                                            <select id="parentRole" class="form-control">
                                                                <option></option>
                                                                <option value="mother">Мать</option>
                                                                <option value="father">Отец</option>
                                                                <option value="guardian">Опекун</option>
                                                                <option value="guardian">Законный представитель</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Фамилия:</label>
                                                            <input type="text" id="parentFirstName" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Имя:</label>
                                                            <input type="text" id="parentLastName" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Отчество:</label>
                                                            <input type="text" id="parentMiddleName" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Место работы:</label>
                                                            <input type="text" id="parentWork" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Должность:</label>
                                                            <input type="text" id="parentPosition" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label" data-mask="(999) 999-9999">Рабочий телефон:</label>
                                                            <input type="text" id="parentWorkphone" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Контактный телефон:</label>
                                                            <input type="text" id="parentPhone" class="form-control">
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label class="control-label">Адрес:</label>
                                                            <input type="text" id="parentAddress" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="ibox float-e-margins">
                                                                <div class="ibox-title">
                                                                    <h5>Паспортные данные</h5>
                                                                    {{>iboxTools}}
                                                                </div>
                                                                <div class="ibox-content">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Серия:</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="text" data-mask="9999" id="passportCode" class="form-control">
                                                                        </div>
                                                                        <label class="col-sm-2 control-label">Номер:</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="text" id="passportNumber" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Кем выдан:</label>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" id="passportDepartment" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Когда выдан:</label>
                                                                        <div class="col-sm-3">
                                                                            <div class="input-group">
                                                                                <input type="text" data-mask="99.99.9999" id="passportDate" class="form-control">
                                                                                <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <label class="col-sm-3 control-label">Код подразделения:</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="text" id="passportDepartmentCode" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed col-lg-12"></div>
                                                <h3 class="m-b col-lg-12">Родитель 2</h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Степень родства:</label>
                                                            <select id="parentRole" class="form-control">
                                                                <option></option>
                                                                <option value="mother">Мать</option>
                                                                <option value="father">Отец</option>
                                                                <option value="guardian">Опекун</option>
                                                                <option value="guardian">Законный представитель</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Фамилия:</label>
                                                            <input type="text" id="parentFirstName" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Имя:</label>
                                                            <input type="text" id="parentLastName" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Отчество:</label>
                                                            <input type="text" id="parentMiddleName" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Место работы:</label>
                                                            <input type="text" id="parentWork" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Должность:</label>
                                                            <input type="text" id="parentPosition" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label" data-mask="(999) 999-9999">Рабочий телефон:</label>
                                                            <input type="text" id="parentWorkphone" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Контактный телефон:</label>
                                                            <input type="text" id="parentPhone" class="form-control">
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label class="control-label">Адрес:</label>
                                                            <input type="text" id="parentAddress" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="ibox float-e-margins">
                                                                <div class="ibox-title">
                                                                    <h5>Паспортные данные</h5>
                                                                    {{>iboxTools}}
                                                                </div>
                                                                <div class="ibox-content">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Серия:</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="text" data-mask="9999" id="passportCode" class="form-control">
                                                                        </div>
                                                                        <label class="col-sm-2 control-label">Номер:</label>
                                                                        <div class="col-sm-4">
                                                                            <input type="text" id="passportNumber" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Кем выдан:</label>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" id="passportDepartment" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">Когда выдан:</label>
                                                                        <div class="col-sm-3">
                                                                            <div class="input-group">
                                                                                <input type="text" data-mask="99.99.9999" id="passportDate" class="form-control">
                                                                                <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                            </div>
                                                                        </div>
                                                                        <label class="col-sm-3 control-label">Код подразделения:</label>
                                                                        <div class="col-sm-3">
                                                                            <input type="text" id="passportDepartmentCode" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed col-lg-12"></div>
                                                <h3 class="m-b col-lg-12">Данные о составе семьи</h3>
                                                <div class="col-lg-10 col-lg-offset-1 form-horizontal">
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Статус семьи:</label>
                                                            <select id="familyStatus" class="form-control">
                                                                <option></option>
                                                                <option value="full">Полная</option>
                                                                <option value="partial">Не полная</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Кол-во братьев:</label>
                                                            <input type="number" id="familyBrotherCount" class="form-control">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="control-label">Кол-во сестер:</label>
                                                            <input type="number" id="familySisterCount" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <button class="btn btn-primary" id="save">Сохранить</button>
                                    <button class="btn btn-default" id="cancel" aria-dismiss="true">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
            </div>
        </div>
    </div>
</template>