<template name="userModal">
  <div class="modal inmodal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
       data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="pull-right">
            <div class="switch">
              <h5>Статус</h5>
              <div class="onoffswitch">
                <input type="checkbox" {{isChecked user.profile.status "active"}} class="onoffswitch-checkbox"
                       id="status" form="form" name="status" value="active">
                <label class="onoffswitch-label" for="status">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <h1 class="modal-title">Добавление/Редактирование пользователя</h1>
        </div>
        <div class="modal-body">
          <form id="form">
            <div class="tabs-container">
              <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#userData" data-toggle="tab" aria-controls="tab-1" role="tab"><i
                    class="fa fa-user-plus"></i> Учетные данные</a></li>
                <li class=""><a href="#userRules" data-toggle="tab" aria-controls="tab-2" role="tab"><i
                    class="fa fa-universal-access"></i> Права доступа</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="userData">
                  <div class="panel-body">
                    <div class="form-group label-floating {{#if _isEqual user.profile.name ""}}is-empty{{/if}}">
                      <label for="name" class="control-label">ФИО</label>
                      <input type="text" class="form-control" id="name" value="{{user.profile.name}}" name="name">
                    </div>
                    <div class="form-group label-floating {{#if _isEqual user.email ""}}is-empty{{/if}}">
                      <label for="email" class="control-label">Email</label>
                      <input type="text" class="form-control" id="email" value="{{user.email}}" name="email">
                    </div>
                    <div class="form-group label-floating {{#if _isEqual user.username ""}}is-empty{{/if}}">
                      <label for="username" class="control-label">Логин</label>
                      <input type="text" class="form-control" id="username" value="{{user.username}}" name="username">
                    </div>
                    <div class="form-group label-floating is-empty">
                      <label for="password" class="control-label">Пароль</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group label-floating is-empty">
                      <label for="password2" class="control-label">Повтор пароля</label>
                      <input type="password" class="form-control" id="password2" name="password2">
                    </div>
                    <div class="form-group {{#if _isEmpty user.roles}}is-empty{{/if}}">
                      <label for="role">Роль</label>
                      <select id="role" class="form-control input pmd-select2" style="width: 100%;" name="role">
                        <option></option>
                        <option value="admin" {{isSelected (_contains user.roles "admin") true}}>Администратор</option>
                        <option value="user" {{isSelected (_contains user.roles "user") true}}>Пользователь</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="userRules">
                  <div class="panel-body">
                    <div class="client-detail">
                      <h2>Раздел "Студенты"</h2>
                      <ul class="todo-list m-t small-list ui-sortable">
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[students][general]" value="true" {{isChecked user.rules.students.general true}}>
                            Общий доступ
                          </label>
                        </li>
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[students][add]" value="true" {{isChecked user.rules.students.add true}}>
                            Создание новых
                          </label>
                        </li>
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[students][edit]" value="true" {{isChecked user.rules.students.edit true}}>
                            Редактирование записей
                          </label>
                        </li>
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[students][delete]" value="true" {{isChecked user.rules.students.delete true}}>
                            Удаление записей
                          </label>
                        </li>
                      </ul>
                      <h2>Раздел "Отчеты"</h2>
                      <ul class="todo-list m-t small-list ui-sortable">
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[reports][general]" value="true" {{isChecked user.rules.reports.general true}}>
                            Общий доступ
                          </label>
                        </li>
                      </ul>
                      <h2>Раздел "Пользователи"</h2>
                      <ul class="todo-list m-t small-list ui-sortable">
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[users][general]" value="true" {{isChecked user.rules.users.general true}}>
                            Общий доступ
                          </label>
                        </li>
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[users][add]" value="true" {{isChecked user.rules.users.add true}}>
                            Создание новых
                          </label>
                        </li>
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[users][edit]" value="true" {{isChecked user.rules.users.edit true}}>
                            Редактирование записей
                          </label>
                        </li>
                        <li>
                          <label>
                            <input class="i-checks" type="checkbox" name="rules[users][delete]" value="true" {{isChecked user.rules.users.delete true}}>
                            Удаление записей
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save">Сохранить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>

      </div>
    </div>
  </div>
</template>