<template name="notFound">
    <div class="row border-bottom white-bg">
        <div class="col-lg-12">
            <div class="text-center m-lg p-lg">
                <div class="middle-box text-center">
                    <h1>404</h1>
                </div>
                <h1>Страница не найдена</h1>
                <p>
                    Вы можете вернуться на главную и попробовать снова.
                </p>
                <a href="/" class="btn btn-sm btn-primary">На главную</a>
            </div>
        </div>
    </div>
</template>